.alert-info {
  color: #000;
  background-color: #b8ceeb;
  border-color: #b8ceeb;
}

.tickets-table {
  .img-thumbnail {
    max-width: 10rem;
  }
}

.csv-link + .csv-warning {
  display: none;
}

.csv-link:hover + .csv-warning {
  display: block;
}

