.homepage {
  background-color: #000;
  background: url('/img/erde.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;

  .site-content {
    padding: 0;
  }
}

.home-title {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0.5rem;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 4rem;
}

.home-nav {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: center;

  .btn {
    padding: 1rem 2rem;
    font-size: 2rem;
  }
}