.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pos-rel {
  position: relative;
}

.site-content {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .map-page & {
    padding-bottom: 0;
  }
}

.site-footer {
  margin-top: auto;
}
