a {
  color: #3586de;

  &:hover {
    color: #2973c5;
  }
}

.arrow-link {
  display: flex;
  align-items: center;
  width: 340px;
  max-width: 100%;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;

  img {
    margin-left: auto;
  }
}