#explorer-map {
  width: 100%;
  height: 100vh;
}

// MAP POPUP
.map-popup {
  h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1rem;
  }
}

.ticket-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem -0.25rem;

  li {
    padding: 0.25rem;
  }

  .img-thumbnail {
    width: auto;
    max-height: 50px;
    display: inline-block;
  }
}
