// EXPLORER MAP

#explorer-map {
  margin-top: -2rem;
  width: 100%;
  width: 100%;
  height: calc(100vh - 112px); // 100vh - (navbar height * 2)
}

// MAP POPUP
.map-popup {
  max-width: 450px;
  font-family: Arial;
  font-size: 0.75rem;
  line-height: 1.5;

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1rem;
  }
}

.ticket-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem -0.25rem;

  li {
    position: relative;
    padding: 0.25rem;
  }

  .img-thumbnail {
    width: auto;
    max-height: 50px;
    display: inline-block;
  }

  .btn {
    position: absolute;
    left: 0.25rem;
    bottom: 0.25rem;
    padding: 0.125rem 0.25rem;
    font-size: 0.5rem;
  }
}
