.welcome-page,
.intro-page {
  padding-left: 2rem;
  padding-right: 2rem;
  // overflow-x: hidden;

  
}

.welcome-page {
  background: url('/img/bg_intro.jpg') no-repeat center;
  background-size: cover;
  color: #fff;

  a {
    color: #fff;
  }

  .site-content {
    min-height: 100vh;

    > div {
      height: 100%;
    }
  }
}

.intro-page {
  a {
    color: #000;
  }
}