.welcome-page,
.intro-page {
  overflow-x: hidden;

  @media (min-width: $sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.welcome-page {
  background: #5b5249 url('/img/bg_intro.jpg') no-repeat center;
  background-size: cover;
  color: #fff;

  a {
    color: #fff;
  }

  .site-content {
    min-height: 100vh;

    > div {
      height: 100%;
    }
  }

  @media (min-width: $sm) {
    .site-footer {
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }
}

.intro-page {
  a {
    color: #000;
  }

  .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-links {
    width: 300px;
    max-width: 100%;
  }
}