button.btn:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.img-small {
  height: 150px;
}

#editor-map {
  width: 600px;
  height: 400px;
}

.figure-medium {
  max-width: 600px;
}

/* #globe {
  overflow: hidden;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  transition: transform 1.5s;

  &.zoomed {
    transform: scale(10);
  }
} */

.site-content {
  padding-top: 2rem;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-footer {
  margin-top: auto;
}

.tickets-table {
  .img-thumbnail {
    max-width: 10rem;
  }
}

.pagination {
  justify-content: center;

  li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.navbar-nav {
  flex-grow: 1;
}

// INCLUDES

// VENDOR

@import 'includes/vendor/bootstrap.min.css';
@import 'includes/vendor/jquery.fancybox.min.css';

// APP

@import 'includes/base';
@import 'includes/homepage';
@import 'includes/map';
@import 'includes/vue-components/location-editor';
@import 'includes/vue-components/location-picker';
